* {
     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 
    font-size: 62.5%;

    --hue: 520;

    --primary-color: hsl(var(--hue), 41%, 47%);
    --second-color-light: hsl(293, 41%, 92%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(calc(var(--hue) - 1), 41%, 92%);
    --brand-light-2: hsl(calc(var(--hue) - 1), 40%, 96%);
    --brand-hover: hsl(var(--hue), 41%, 28%);

}

html {
    scroll-behavior: smooth;
    background-color: #a6c1ee
}

html,
body {
     /* max-width: 120rem; 
 height: 80%; */
    font-size: 1.6rem;
}

body {
    background-color: #F6F6F6;
    /* font-family: 'Fira Mono', monospace;  
 
    font-family: 'Special Elite', cursive;*/

    font-family: 'Taviraj', serif;
/*
    font-family: 'Volkhov', serif; */
}

#today{
    width: 80rem;
}
#nextTwoDays{
    width: 60rem;
}
.card {
    width: 20rem;
}
